<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="header">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<title>JBosse</title>

<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}" />

<script th:src="@{/js/jquery-3.3.1.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<body>

<!--  menu -->
	<nav
		class="navbar navbar-expand-xl bg-dark navbar-dark fixed-top justify-content-between"
		th:fragment="header">
		<!-- logo -->
		<a class="navbar-brand " th:href="@{/index}">JBosse</a>
		<!--  text -->
		<span class="navbar-text   "> Faites nous partager vos pires
			ou meilleurs moments</span>

		<ul class="navbar-nav">
			<!-- liens -->
			<li class="nav-item"   sec:authorize="hasAnyRole('ROLE_USER,ROLE_ADMIN,ROLE_MOD')" ><a class="nav-link" th:href="@{/newAnecdote}">poster</a></li>

			<!--  dropdown -->
			<li class="nav-item dropdown"><a id="navbardrop"
				class="nav-link dropdown-toggle" th:href="@{/index}"
				data-toggle="dropdown">Catégories</a>
				<div class="dropdown-menu">
					<a th:each="c : ${categoryList}" class="dropdown-item"
						th:href="@{/anecdote}" th:text="|${c.label}|"></a>
				</div></li>

			<!-- liens -->
			<li sec:authorize="!isAuthenticated()"><a  id="showmodalConnexion" href="" class="nav-link" data-toggle="modal" data-target="#connexionModal" >Connexion</a></li>
			<li class="nav-item" sec:authorize="hasAnyRole('ROLE_USER,ROLE_ADMIN,ROLE_MOD')"><a  class="nav-link" th:href="@{/logout}">Déconnexion</a></li>

		</ul>
	</nav>
	<script>
	
	</script>
</body>
</html>