<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{css/style.css}" />
	
</head>
<body>

	<div th:align="center" th:fragment="footer"
		class="fixed-bottom">
		<span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}"></span>
		<span>@Copyright</span>
		<a class="nav-link" sec:authorize="!isAuthenticated()" th:href="@{/contact}">contact</a>
		<a class="nav-link" sec:authorize="hasRole('ROLE_USER')"  th:href="@{/contact}">contact</a>
		<a class="nav-link" sec:authorize="hasAnyRole('ROLE_MOD,ROLE_ADMIN')" th:href="@{/admin/moderation}">modération</a>
		<a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/administration}">administration</a>
	</div>
	
</body>
</html>