<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<body>
	<!--  modal connexion -->
	<div class="modal fade " id="successInscriptionModal" tabindex="-1" role="dialog" aria-labelledby="connexionModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header  alert alert-success">
					<h5 class="modal-title" id="connexionModalLabel">Inscription confirmé</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
 					<div class=" modal-body">
					<p id="successInscriptionModalMessage" th:text="|${successMessage}|"></p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>