.red {
	color: red;
}

.green {
	color: #32CD32;
	text-align: center;
}

.spacer {
	margin-top: 10em;
	margin-bottom: 4em;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.left {
	text-align: left;
	margin-left: 2em;
	font-style: italic;
}

.right {
	text-align: right;
	margin-right: 2em;
	font-style: italic;
}

.man {
	color: blue;
}

.woman {
	color: fuchsia;
}

.italic {
	font-style: italic;
	font-size: 10px;
}

.anecdoteDescription{
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 2em;
	margin-right: 2em;
	text-align: justify;
	
}

.spacerErrorMessage {
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 2em;
	margin-right: 2em;
}

.spacerForm {
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 2em;
	margin-right: 2em;
}

.anecdoteCard {
	height: 400px;
	padding: 1em;
	background-color: white;
	/* 	background-image:url(/images/blocnote.png); */
}

body {
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 4em;
	position: relative;
	background: #EDECEC;
	position: relative;
}

.card {
	background: #FFF none repeat scroll 0% 0%;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	margin-bottom: 3em;
}

.transparant {
	background-color: transparent;
}

.anecdoteLink {
	display: block;
	margin-left: 0em;
	margin-right: 0em;
	width: 40px;
	height: 40px;
}

.imageA {
	max-width: 100%;
	max-height: 100%;
	display: block;
	background-color: white;
	padding-top: 1em;
}

.page {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
}

.page img {
	width: 100%;
	height: 100%;
}

.card-header {
	background-color: #343A40;
	color: white;
}

.card-headerTransparant {
	background-color: transparent;
}