<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<title>Accueil</title>
</head>

<body>
	<!-- modal inscription   -->
	<div th:insert="fragments/login.html"></div>
	<div th:insert="fragments/successInscription.html"></div>


	<!-- contenu de la vue -->
	<div class="spacer row">
		<a sec:authorize="!isAuthenticated()"
			class="btn btn-dark spacerForm col-12" th:href="@{/user/inscription}">Inscription</a>
	</div>
	<div class="row">

		<div class="col-lg-1 col-md-1 col-xm-1 col-xs-1"></div>
		<div class="col-lg-4 col-md-4 col-xm-10 col-xs-10">

			<!-- Nav tabs -->
			<div class="card transparant">
				<ul id="bestLink" class="nav nav-tabs" role="tablist">
					<li th:each="b : ${bestAnecdote}" th:role="|${b.category.label}|">
						<a th:href="|#best-${b.id}|" th:aria-controls="|${b.id}|"
						role="tab" data-toggle="tab" class="oi oi-target anecdoteLink">
							<img id="imgAnecdoteBest" th:src="@{/images/intercalaire.png}">
					</a>
					</li>
				</ul>
				<img class="imageA" th:src="@{/images/bestof.png}">
				<!-- Tab panes -->
				<div id="bestAnecdotes" class="tab-content">
					<div th:each="b : ${bestAnecdote}" role="tabpanel"
						class="anecdoteCard tab-pane" th:id="|best-${b.id}|">
						<div class="row">
							<div class="col-5 left" th:text="|${b.category.label}|"></div>
							<div th:if="${b.user.sexe.toString()} == 'Femme'"
								class="col-5 right woman" th:text="|${b.user.login}|"></div>
							<div th:if="${b.user.sexe.toString()} == 'Homme'"
								class="col-5 right man" th:text="|${b.user.login}|"></div>
						</div>
						<div class="row">
							<div class="spacerErrorMessage" th:text="|${b.description}|"></div>
						</div>
						<div class="row">
							<div class="col-4 left italic" th:text="|${b.publishedAt}|"></div>
							<div class="col-8"></div>

						</div>
					</div>
				</div>
				<div class="page">
					<img th:src="@{/images/page_cornee50.png}" />
				</div>
			</div>

		</div>
		<div class="col-lg-2 col-md-2"></div>
		<div class="col-lg-4 col-md-4 col-xm-10 col-xs-10">

			<!-- Nav tabs -->
			<div class="card transparant">
				<ul id="lastLink" class="nav nav-tabs" role="tablist">
					<li th:each="l : ${lastAnecdote}" th:role="|${l.category.label}|">
						<a th:href="|#last-${l.id}|" th:aria-controls="|${l.id}|"
						role="tab" data-toggle="tab" class="oi oi-target anecdoteLink">
							<img id="imgAnecdoteLast" th:src="@{/images/intercalaire.png}">
					</a>
					</li>
				</ul>
				<img class="imageA" th:src="@{/images/last.png}">
				<!-- Tab panes -->
				<div id="lastAnecdotes" class="tab-content">
					<div th:each="l : ${lastAnecdote}" role="tabpanel"
						class="anecdoteCard tab-pane" th:id="|last-${l.id}|">
						<div class="row">
							<div class="col-5 left" th:text="|${l.category.label}|"></div>
							<div th:if="${l.user.sexe.toString()} == 'Femme'"
								class="col-5 right woman" th:text="|${l.user.login}|"></div>
							<div th:if="${l.user.sexe.toString()} == 'Homme'"
								class="col-5 right man" th:text="|${l.user.login}|"></div>
						</div>
						<div class="row">
							<div class="anecdoteDescription " th:text="|${l.description}|"></div>
						</div>
						<div class="row">
							<div class="col-4 left italic" th:text="|${l.publishedAt}|"></div>
							<div class="col-8"></div>

						</div>
					</div>
				</div>
				<div class="page">
					<img th:src="@{/images/page_cornee50.png}" />
				</div>
			</div>

		</div>
		<div class="col-lg-1 col-md-1 col-xm-1 col-xs-1"></div>
	</div>
	

</body>
<div th:insert="~{fragments/footer :: footer}"></div>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<script th:inline="javascript">
	//au chargement de la page check si message inscriptionSuccess dans ce cas, affichage du modal successInscription

	$("#successInscriptionModal").modal('hide');

	var result = $("#successInscriptionModalMessage").text();
	if (result !== "") {
		$("#successInscriptionModal").modal('show');
	}

	
	$(document).ready(function() {
	});
	
	//on active le premier div des cartes best et last anecdote
	$('#bestAnecdotes').children('div:first').attr("class",
			"anecdoteCard tab-pane active");
	$('#lastAnecdotes').children('div:first').attr("class",
			"anecdoteCard tab-pane active");

	$('#bestLink').children('li:first').children('a').children('img').attr(
			"th:src", "@{/images/intercalaireSelected.png}");

	$('#lastLink').children('li:first').children('a').children('img').attr(
			"th:src", "@{/images/intercalaireSelected.png}");

	$(function() {
		//====evenement pagination intercalaires====
		$('.anecdoteLink').click(
				function() {

					$(this).children('img').attr("th:src",
							"@{/images/intercalaireSelected.png}");
				});

		//====evenement animation page qui se déplie====
		$('.page').hover(function() {
			$(this).stop().animate({
				width : 150,
				height : 150
			}, 500);
		}, function() {
			$(this).stop().animate({
				width : 50,
				height : 50
			}, 500);
		});

		//====evenement changement de page blocnote lié au dépliage====
		$('.page').click(function() {
			//	var index = $(this).prev().index()+1;
			//console.log(index);
			//$(this).prevAll('.card transparant').children('div:first').show()
			//$(this).parent("div").children('div:first').next().show();

			//$(this).prev().hide();
			//	$(this).prev("#bestAnecdotes").index(index).show();
		});

	});
</script>

</html>