<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<title>Accueil</title>
</head>
<body>
	<!-- modal inscription   -->
	<div th:insert="fragments/login.html"></div>

	<!-- contenu de la vue -->
	<div class="row">
		<div class="col-lg-3"></div>
		<div class=" col-lg-6 spacer40 spacerForm">

			<div class="card">
				<div class="card-header">Inscription</div>

				<form th:action="@{/user/inscription}" th:object="${user}"
					class="form" method="post" enctype="utf8">

					<span id="globalError" class="alert alert-danger col-sm-4"
						style="display: none"></span>


					<!-- 					<div id="exceptionContent" -->
					<!-- 						class="alert -->
					<!-- 							alert-danger spacerErrorMessage" role="alert"> -->
					<!-- 						<p id="ExceptionMessage" th:text="|${Exception}|"></p> -->
					<!-- 					</div> -->

					<!-- Nom -->
					<div class="form-group spacerForm">
						<label th:text="#{form.lastnamelabel}">last</label>
						<div class="input-group">
							<input th:field="*{lastName}" class="form-control"
								th:placeholder="#{form.lastnamelabel}">
							<!-- <p th:each="error : ${#fields.errors('lastName')}" th:text="${error}">validation error</p> -->
						</div>
						<div role="alert" th:each="error : ${#fields.errors('lastName')}"
							th:text="${error}" class="alert alert-danger spacerErrorMessage">validation
							error</div>
					</div>

					<!-- Prenom -->
					<div class="form-group spacerForm">
						<label th:text="#{form.firstnamelabel}">first</label>
						<div class="input-group">
							<input th:field="*{firstName}" class="form-control"
								th:placeholder="#{form.firstname}">
							<!-- <p th:each="error : ${#fields.errors('firstName')}" th:text="${error}">validation error</p> -->
						</div>
						<div role="alert" th:each="error : ${#fields.errors('firstName')}"
							th:text="${error}" class="alert alert-danger spacerErrorMessage">validation
							error</div>
					</div>

					<!-- login -->
					<div class="row spacerForm">
						<div class="form-group  col-lg-6">
							<label th:text="#{form.loginlabel}">login</label>
							<div class="input-group">
								<input th:field="*{login}" class="form-control"
									th:placeholder="#{form.login}">
								<!-- <p th:each="error : ${#fields.errors('login')}" th:text="${error}">validation error</p> -->
							</div>
						</div>

						<!-- sexe	 -->
						<div class="form-group  col-lg-6">
							<label for="sexe" th:text="#{form.sexeLabel}"></label> <select
								th:field="*{sexe}" class="form-control">
								<option th:value="Homme" th:utext="Homme" />
								<option th:value="Femme" th:utext="Femme" />
							</select>
						</div>
					</div>
					<div class="form-group spacerForm">
						<div role="alert" th:each="error : ${#fields.errors('login')}"
							th:text="${error}" class=" alert alert-danger spacerErrorMessage">validation
							error</div>
					</div>

					<!-- password -->
					<div class="form-group spacerForm">
						<label th:text="#{form.passwordLabel}">password</label>
						<div class="input-group">
							<input id="password" type="password" th:field="*{password}"
								class="form-control" th:placeholder="#{form.password}">
							<!-- <p th:each="error : ${#fields.errors('password')}" th:text="${error}">validation error</p> -->
						</div>
						<div role="alert" th:each="error : ${#fields.errors('password')}"
							th:text="${error}" class="alert alert-danger spacerErrorMessage">validation
							error</div>
					</div>

					<!-- ConfirmPassword -->
					<div class="form-group spacerForm">
						<label th:text="#{form.confirmPasswordLabel}">confirm</label>
						<div class="input-group">
							<input id="matchingPassword" type="password"
								th:field="*{matchingPassword}" class="form-control"
								th:placeholder="#{form.password}">
							<!-- <p th:each="error : ${#fields.errors('matchingPassword')}" th:text="${error}">validation error</p> -->
						</div>
						<!-- <div role="alert"
							th:each="error : ${#fields.errors('matchingPassword')}"
							th:text="${error}" class="alert alert-danger spacerErrorMessage">validation
							error</div> -->
						<div id="passwordWrongMatchingContent"
							class="alert
							alert-danger spacerErrorMessage"
							role="alert">
							<p id="passwordMatchingMessage"
								th:text="|${ExceptionPasswordMatching}|"></p>
						</div>
					</div>

					<!-- mail -->
					<div class="form-group spacerForm">
						<label th:text="#{form.maillabel}">email</label>
						<div class="input-group">
							<input type="email" th:field="*{email}" class="form-control"
								th:placeholder="#{form.mail}">
							<!-- <p th:each="error : ${#fields.errors('email')}" th:text="${error}">validation error</p> -->
						</div>
						<div class="col-lg-3 col-md-3 col-xm-0 col-xs-0"></div>
						<div id="emailExistContent"
							class="alert
							alert-danger spacerErrorMessage"
							role="alert">
							<p id="emailExistMessage" th:text="|${ExceptionEmailExist}|"></p>
						</div>
						<div role="alert" th:each="error : ${#fields.errors('email')}"
							th:text="${error}" class="alert alert-danger spacerErrorMessage">validation
							error</div>
					</div>

					<!-- ConfirmMail -->
					<div class="form-group spacerForm">
						<label th:text="#{form.confirmMaillabel}">confirm</label>
						<div class="input-group">
							<input type="email" th:field="*{matchingEmail}"
								class="form-control" th:placeholder="#{form.mail}">
							<!-- <p th:each="error : ${#fields.errors('matchingEmail')}" th:text="${error}">validation error</p> -->
						</div>
						<!-- <div role="alert"
							th:each="error : ${#fields.errors('matchingEmail')}"
							th:text="${error}" class="alert alert-danger spacerErrorMessage">validation
							error</div> -->
						<div id="emailWrongMatchingContent"
							class="alert
							alert-danger spacerErrorMessage"
							role="alert">
							<p id="emailMatchingMessage"
								th:text="|${ExceptionEmailMatching}|"></p>
						</div>
					</div>

					<!-- submit -->
					<button type="submit" class="btn btn-dark spacerForm"
						th:text="#{form.submit}">submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
<div th:insert="~{fragments/footer :: footer}" class="spacer"></div>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<script>
	$(document).ready(
			function() {

				$("#emailExistContent").hide();
				$("#emailWrongMatchingContent").hide();
				$("#passwordWrongMatchingContent").hide();
				// 						if ($("#ExceptionMessage").text() === "") {
				// 							$("#exceptionContent").hide();
				// 						}

				$('form').submit(function() {
					register();
				});

				var emailExistMessageResult = $("#emailExistMessage").text();
				var emailMatchingMessageResult = $("#emailMatchingMessage")
						.text();
				var passwordMatchingMessageResult = $(
						"#passwordMatchingMessage").text();
				if (emailExistMessageResult !== "") {
					$("#emailExistContent").show();
				}
				if (emailMatchingMessageResult !== "") {
					$("#emailWrongMatchingContent").show();
				}
				if (passwordMatchingMessageResult !== "") {
					$("#passwordWrongMatchingContent").show();
				}

				// 	var result2 = $("#ExceptionMessage").text();
				// 	if (result2 !== "") {
				// 		$("#exceptionContent").show();
				// 	}

				// 		if (result2 !== "") {
				// 			console.log("ExceptionMessage");
				// 		}
				// 		if (result !== "") {
				// 			console.log("emailExistMessage");
				// 		}

				/* function register() {
					if ($("#password").text() !== $("#matchingPassword")
							.text()) {
				// 								$("#ExceptionMessage")
				// 										.text(
				// 												"Les mots de passe doivent être identique");
				// 								$("#exceptionContent").show();
						$("#globalError").show().html("test d'affichage");
						
						return;
					}

				} */

			});
</script>

</html>

<!-- <form action="#" th:action="@{/registerUser}" id="userRegister" -->
<!-- 					th:object="${user}" name="userRegister" class="form" method="post" enctype="utf8"> -->

<!-- 				 Nom -->
<!-- 					<div class="form-group spacerForm"> -->
<!-- 						<label for="lastname" th:text="#{form.lastnamelabel}"></label> -->
<!-- 						<div class="input-group"> -->
<!-- 							<input type="text" th:field="*{lastName}" class="form-control" -->
<!-- 								id="lastname" th:placeholder="#{form.lastnamelabel}"> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				 Prenom -->
<!-- 					<div class="form-group spacerForm"> -->
<!-- 						<label for="firstname" th:text="#{form.firstnamelabel}"></label> -->
<!-- 						<div class="input-group"> -->
<!-- 							<input type="text" th:field="*{firstName}" class="form-control" -->
<!-- 								id="firstname" th:placeholder="#{form.firstname}"> -->
<!-- 					</div> -->

<!-- 					</div> -->
<!-- 				 login -->
<!-- 				<div class="row spacerForm"> -->
<!-- 					<div class="form-group  col-lg-6"> -->
<!-- 						<label for="login" th:text="#{form.loginlabel}"></label> -->
<!-- 						<div class="input-group"> -->
<!-- 							<input type="text" th:field="*{login}" class="form-control" -->
<!-- 								id="login" th:placeholder="#{form.login}"> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				 sexe	 -->
<!-- 					<div class="form-group  col-lg-6"> -->
<!-- 					<label for="sexe" th:text="#{form.sexeLabel}"></label> -->
<!-- 						 <select th:field="*{sexe}" class="form-control"> -->
<!-- 	                         <option value="genre"> ... </option> -->
<!-- 	                         <option  -->
<!-- 	                            th:value="Homme" -->
<!-- 	                            th:utext="Homme"/> -->
<!-- 	                            <option  -->
<!-- 	                            th:value="Femme" -->
<!-- 	                            th:utext="Femme"/> -->
<!--                   		</select> -->
<!-- 						</div> -->
<!-- 						</div> -->

<!-- 				 password -->
<!-- 					<div class="form-group spacerForm"> -->
<!-- 						<label for="password" th:text="#{form.passwordLabel}"></label> -->
<!-- 						<div class="input-group"> -->
<!-- 							<input type="password" th:field="*{password}" -->
<!-- 								class="form-control" id="password" -->
<!-- 								th:placeholder="#{form.password}"> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				 ConfirmPassword -->
<!-- 					<div class="form-group spacerForm"> -->
<!-- 						<label for="password" th:text="#{form.confirmPasswordLabel}"></label> -->
<!-- 						<div class="input-group"> -->
<!-- 							<input type="password" th:field="*{password}" -->
<!-- 								class="form-control" id="password" -->
<!-- 								th:placeholder="#{form.password}"> -->
<!-- 						</div> -->
<!-- 					</div>	 -->
<!-- 				 mail -->
<!-- 					<div class="form-group spacerForm"> -->
<!-- 						<label for="mail" th:text="#{form.maillabel}"></label> -->
<!-- 						<div class="input-group"> -->
<!-- 							<input type="email" th:field="*{email}" class="form-control" -->
<!-- 								id="mail" th:placeholder="#{form.mail}"> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				 ConfirmMail -->
<!-- 					<div class="form-group spacerForm"> -->
<!-- 						<label for="mail" th:text="#{form.confirmMaillabel}"></label> -->
<!-- 						<div class="input-group"> -->
<!-- 							<input type="email" th:field="*{email}" class="form-control" -->
<!-- 								id="mail" th:placeholder="#{form.mail}"> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				 année de naissance -->
<!-- 					<div class="form-group spacerForm"> -->
<!-- 						<label for="birthDate" th:text="#{form.birthDatelabel}"></label> -->
<!-- 						<div class="input-group"> -->
<!-- 							<input type="text" th:field="*{birthDate}" class="form-control" -->
<!-- 								id="birthDate" th:placeholder="#{form.birthDate}"> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				 submit -->
<!-- 					<button id="register" type="submit" class="btn btn-dark spacerForm" -->
<!-- 						th:text="#{form.submit}"></button> -->
<!-- 				</form> -->