<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<title>Anecdote</title>
</head>

<body>
	<div class=" spacer row">
	<p>anecdote</p>
	<img class=" center" th:src="@{/images/page-en-construction.png}" />
	</div>
	
	<div class=" spacer row">
		<div class="col-lg-1 col-md-1 col-xm-1 col-xs-1"></div>
		<div class="col-lg-4 col-md-4 col-xm-10 col-xs-10">
			<!-- Nav tabs -->
			<div class="card transparant">
				<ul id="bestLink"class="nav nav-tabs" role="tablist">
					<li th:each="l : ${lastAnecdote}" th:role="|${l.category.label}|">
						<a th:href="|#last-${l.id}|" th:aria-controls="|${l.id}|"
						role="tab" data-toggle="tab" class="oi oi-target anecdoteLink">
							<img id="imgAnecdoteBest" th:src="@{/images/intercalaire.png}">
					</a>
					</li>
				</ul>
				<img class="imageA" th:src="@{/images/bestof.png}">
				<!-- Tab panes -->
				<div id="bestAnecdotes" class="tab-content">
					<div th:each="l : ${lastAnecdote}" role="tabpanel"
						class="anecdoteCard tab-pane" th:id="|last-${l.id}|"
						th:text="|${l.description}|"></div>
				</div>
				<div class="page">
					<img th:src="@{/images/page_cornee50.png}" />
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-2"></div>
		<div class="col-lg-4 col-md-4 col-xm-10 col-xs-10">
			<!-- Nav tabs -->
			<div class="card transparant">
				<ul id="lastLink" class="nav nav-tabs" role="tablist">
					<li th:each="b : ${bestAnecdote}" th:role="|${b.category.label}|">
						<a th:href="|#best-${b.id}|" th:aria-controls="|${b.id}|"
						role="tab" data-toggle="tab" class="oi oi-target anecdoteLink">
							<img id="imgAnecdoteBest" th:src="@{/images/intercalaire.png}">
						</a>
					</li>
				</ul>
				<img class="imageA" th:src="@{/images/last.png}">
				<!-- Tab panes -->
				<div id="lastAnecdotes" class="tab-content">
					<div th:each="b : ${bestAnecdote}" role="tabpanel"
						class="anecdoteCard tab-pane" th:id="|best-${b.id}|"
						th:text="|${b.description}|"></div>
				</div>
				<div class="page">
					<img th:src="@{/images/page_cornee50.png}" />
				</div>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-xm-1 col-xs-1"></div>
	</div>
</body>
<div th:insert="~{fragments/footer :: footer}"></div>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<script>

//on active le premier div des cartes best et last anecdote
$('#bestAnecdotes').children('div:first').attr("class",
		"anecdoteCard tab-pane active");
$('#lastAnecdotes').children('div:first').attr("class",
		"anecdoteCard tab-pane active");

$('#bestLink').children('li:first').children('a').children('img').attr("th:src",
"@{/images/intercalaireSelected.png}");

$('#lastLink').children('li:first').children('a').children('img').attr("th:src",
"@{/images/intercalaireSelected.png}");

$(function() {
	//====evenement pagination intercalaires====
	$('.anecdoteLink').click(function(){
		
		$(this).children('img').attr("th:src",
		"@{/images/intercalaireSelected.png}");
	});

	//====evenement animation page qui se déplie====
	$('.page').hover(function() {
		$(this).stop().animate({
			width : 150,
			height : 150
		}, 500);
	}, function() {
		$(this).stop().animate({
			width : 50,
			height : 50
		}, 500);
	});
	
	//====evenement changement de page blocnote lié au dépliage====
	$('.page').click(function() {
	//	var index = $(this).prev().index()+1;
		//console.log(index);
		//$(this).prevAll('.card transparant').children('div:first').show()
	//$(this).parent("div").children('div:first').next().show();
  
	//$(this).prev().hide();
	//	$(this).prev("#bestAnecdotes").index(index).show();
	});
	
});
</script>

</html>